@import "./variables.module.scss";

.homePage {
  color: $color-white;

  .secOne {
    @include fullScreenSec();
    background-image: $grad-bg;

    .content {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 100%;

      .imageWrap {
        position: absolute;
        z-index: 1;
        top: 26vh;
        width: 25rem;
        height: 25rem;
        mix-blend-mode: luminosity;
      }

      .textWrapper {
        position: absolute;
        width: 100%;
        z-index: 1;
        top: 72vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        p {
          font-size: 1.5rem;
        }
        h1,
        p {
          @include lineClamp(1);
        }
      }
    }

    .secBgVideo {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      pointer-events: none;
      justify-content: center;
      &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: $grad-bg1;
      }

      .bgImage,
      .video {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  .secTwo {
    @include fullScreenSec();
    padding: 20vh 0;
    background-image: $grad-bg;

    .containerFluid {
      height: 100%;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      .title {
        margin-bottom: 20px;
        h2 {
          @include lineClamp(1);
        }
      }
      .videoWrapper {
        position: relative;
        z-index: 2;
        background: $grad-bg2;
        padding: 0.03rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .secBgImg {
      position: absolute;
      bottom: 0;
      width: 100%;
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
  }

  .secThree {
    @include fullScreenSec();
    background-image: $grad-bg3;
    .videoWrapper {
      mix-blend-mode: lighten;
      h2,
      p {
        @include lineClamp(4);
      }
    }
  }

  .secFour {
    @include fullScreenSec();
    background-image: $grad-bg4;
    .videoWrapper {
      mix-blend-mode: lighten;
      [class*="Cards_cards"] {
        flex-direction: row-reverse;
      }
      h2,
      p {
        @include lineClamp(4);
      }
    }
  }

  .secFive {
    padding: 15vh 0;
    background-image: $grad-bg5;

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .title {
        text-align: center;
        margin-bottom: 4rem;
        h2 {
          @include lineClamp(1);
        }
        p {
          @include lineClamp(2);
        }
      }

      .cardWrapper {
        width: 100%;
        .cards {
          margin-bottom: 30px;
          [class*="Cards_imgWrapper"] {
            flex: none;
          }
          h2 {
            font-size: 1.5rem;
            margin-bottom: 10px;
          }
          &:nth-child(2n) {
            justify-content: flex-end;
          }
          > div:first-child {
            img {
              width: 290px;
              height: 290px;
              border-radius: 50%;
            }
          }
        }

        p {
          @include lineClamp(6);
        }
      }
    }
  }

  .secSix {
    @include fullScreenSec();
    padding-top: 15vh;
    background: url(../../public/images/grid.webp) 0 0/100% no-repeat, $grad-bg8;
    .containerSe {
      min-height: 100vh;
    }
    .content {
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .title {
        text-align: center;
        h2 {
          @include lineClamp(1);
        }
        p {
          @include lineClamp(2);
        }
      }
      .imageWrap {
        width: 25rem;
        height: 25rem;
        mix-blend-mode: luminosity;
      }
    }
  }

  .secSeven {
    @include fullScreenSec();
    padding: 15vh 0;
    background-image: $grad-bg9;
    .content {
      .textWrapper {
        margin-bottom: 10vh;
        font-size: 1.3rem;
        color: $primary-light-color-text;
        p {
          @include lineClamp(3);
        }
      }
    }

    .galleryWrap {
      cursor: grab;
      user-select: none;
      touch-action: pan-y;
      p {
        @include lineClamp(6);
      }
    }
  }

  .secEight {
    @include fullScreenSec();
    padding: 15vh 0 25vh;
    background-image: $grad-bg3;

    .galleryWrap {
      margin-top: 10vh;
      position: relative;
      width: 100%;
      height: 60vh;
      cursor: grab;
      user-select: none;
      touch-action: pan-y;
      mask-image: $grad-bg6;
      mask-size: 100%;
      h6 {
        @include lineClamp(4);
      }
    }
  }

  .secNine {
    @include fullScreenSec();
    padding-top: 15vh;
    box-shadow: $boxShadow;
    background: url(../../public/images/signup-bg.webp) 0 0/100% no-repeat,
      $grad-bg7;

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .title {
        text-align: center;
      }
      .imageWrap {
        width: 25rem;
        height: 25rem;
        mix-blend-mode: luminosity;
      }
      .btnWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 1;
        margin: 5rem 0 10rem;
        a {
          margin: 10px;
          min-width: 200px;
          span {
            padding: 1rem 2rem;
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
  }

  @media (max-width: 768px) {
  }
}
