@import "app/styles/variables.module.scss";

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  li {
    padding: 0 0.5vw;
    display: flex;
    height: 100%;
    align-items: center;
    a {
      font-size: 0.875rem;
      &:hover {
        color: $color-light-purple;
      }
    }
  }
}
