@import "app/styles/variables.module.scss";

.textSlider {
  color: $color-white;
  font-size: 2rem;
  font-weight: bold;
  line-height: 3rem;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  margin-bottom: 20px;

  span:nth-child(2n) {
    text-shadow: $color-white;
    -webkit-text-stroke-color: $color-white;
    -webkit-text-stroke-width: 0.5px;
    color: transparent !important;
    animation: text-shadow-white 1.5s ease infinite;
    margin: 0 10px;
  }

  animation-name: rightToLeft;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes text-shadow-white {
  0% {
    text-shadow: 0 0 0 hsla(0, 0%, 100%, 0.05);
  }
  50% {
    text-shadow: 0 0 0.1rem hsla(0, 0%, 100%, 0.3);
  }
  to {
    text-shadow: 0 0 0 hsla(0, 0%, 100%, 0.05);
  }
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes rightToLeft {
  0% {
    transform: translateX(50%);
    // transform: translate3d(50%, 0px, 0px);
  }
  100% {
    transform: translateX(-50%);
    // transform: translate3d(-50%, 0px, 0px);
  }
}

@keyframes text-shadow {
  0% {
    text-shadow: 0 0 0 rgba(255, 180, 161, 0.1);
  }
  50% {
    text-shadow: 0 0 0.1rem rgba(255, 180, 161, 0.5);
  }
  to {
    text-shadow: 0 0 0 rgba(255, 180, 161, 0.1);
  }
}
