@import "../styles/variables.module.scss";

.pricingPage {
  .secOne {
    padding: 15vh;
    background-image: $grad-bg;
    .titleWrapper {
      text-align: center;

      * {
        color: $color-white;
      }
    }
    .pricingWrapper {
      display: flex;
      justify-content: center;
      padding: 10vh 0;
      color: $color-white;
    }
  }

  .secTwo {
    background-image: $grad-bg;
    position: relative;
    color: $color-white;
    .containerSe {
      height: 500px;
    }
    .content {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .titleWrapper {
        text-align: center;
        h2 {
          @include lineClamp(1);
        }
        p {
          @include lineClamp(3);
        }
      }
    }
  }
}
