@import "app/styles/variables.module.scss";
.header {
  height: 75px;
  position: fixed;
  background: none;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 375ms ease;
  z-index: 100;

  &.darkHeader {
    background-color: transparent;
    &.sticky {
      background-color: $color-dark-blue09;
    }
  }

  .content {
    display: flex;
    align-items: center;
    padding-top: 20px;

    .logoWrapper {
      a {
        width: 250px;
        height: 50px;
        display: flex;
        align-items: center;
        overflow: hidden;
      }
    }

    .menuWrapper {
      flex: 1;
      ul {
        margin: 0;
        padding: 0;
        a {
          letter-spacing: 1px;
        }
      }
    }
  }

  .loginWrapper {
    display: flex;
    justify-content: flex-end;
  }
}
