@import "app/styles/variables.module.scss";

.textCard {
  .description {
    padding: 2.75rem;
    margin: 0;
    background-image: linear-gradient(
      180deg,
      rgba(247, 236, 255, 0.02),
      rgba(247, 236, 255, 0.1)
    );

    color: $primary-light-color;
    font-size: 1rem;
    line-height: 1.6rem;
    width: 100%;
    height: 13.563rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-radius: 8px;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(../../../public/images/gradient-border.svg);
      background-size: contain;
      background-position: 0 0;
      background-repeat: no-repeat;
      z-index: -1;
      pointer-events: none;
    }
  }
}
